body {
    margin: 0;
    color: black;
    background-color: lavender;
    font-family: "Gaegu", Arial, Helvetica, sans-serif;
    background-image: url("https://i.pinimg.com/originals/b4/58/1d/b4581df9e47ce538d21555c94f75da95.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: grid;
    width: 100vw;
    height: 100vh;
    grid-template-areas:
      "head"
      "main"
      "foot";
    grid-template-columns: 1fr;
}

header {
    grid-area: head;
    text-align: right;
    margin-top: 1em;
    margin-right: 1em;
}

button {
    font-family: "Gaegu", Arial, Helvetica, sans-serif;
    background-color: pink;
    border: none;
    border-radius: 1em;
    padding: 0.5em;
    text-align: center;
}

.dark-mode {
    color: white;
    background-color: black;
    background-image: none;
}

.dark-mode button {
    color: white;
    background-color: gray;
}
  
main {
    grid-area: main;
}

h1 {
    grid-area: title;
}

.game {
    grid-area: game;
}

.game-board {
    display: grid;
    width: auto;
    height: auto;
    grid-template-areas:
      "1 2 3"
      "4 5 6"
      "7 8 9";
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    place-items: center;    
    text-align: center;
}

.tile {
    border-style: solid;
    padding: 2em;
    width: 2em;
    height: 2em;
}

.tile-background {
    background-color: black;
}

.token {
    width: 100px;
    height: 100px;
    margin-top: -33px;
    margin-left: -33px;
}

.player-one {
    grid-area: player1;
}

.tie {
    grid-area: tie;
}

.player-two {
    grid-area: player2;
}

.status, .name, .score {
    margin: 10px;
}

footer {
    grid-area: foot;
    text-align: center;
}

@media screen and (min-width: 20em) {
    main {
        height: 100vh;
    }

    .main {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas:
          "title"
          "buttonNew"
          "buttonReset"
          "game"
          "player1"
          "tie" 
          "player2";
        grid-template-rows: 2fr 2fr 2fr 10fr 5fr 5fr 5fr;
        grid-template-columns: 1fr;
        place-items: center;    
        text-align: center;
    }
    
    #button-new {
        grid-area: buttonNew;
        display: block;
        margin: auto;
    }
    
    #button-reset {
        grid-area: buttonReset;
        display: block;
        margin-top: 1em;
    }

    .player-one, .tie, .player-two {
        display: inline-flex;
    }
}

@media screen and (min-width: 48em) {
    .main {
        display: grid;
        width: 100%;
        height: 100%;
        grid-template-areas:
          "title title title"
          "button button button"
          "game game game"
          "player1 tie player2";
        grid-template-rows: 2fr 1fr 10fr 5fr;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;    
        text-align: center;
    }

    .button {
        grid-area: button;
    }

    #button-new {
        display: inline;
        max-width: 100%;
        margin-right: 2em;
    }
    
    #button-reset {
        display: inline;
        max-width: 100%;
        margin-left: 2em;
    }

    .player-one, .player-two, .tie {
        display: block;
    }
}